<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CafeFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B72529531CB3B11500BD1987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B725296C1CB3B11500BD1987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B72529771CB3B11500BD1987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
